{
       "*.+(js|jsx|ts|tsx)": "eslint --ext .js,.ts,.tsx",
        "**/*.+(js|jsx|json|yml|yaml|html|css|less|scss|ts|tsx|md|mdx|graphql|vue|py|java|php)": [
            "prettier --write",
            "git add"
        ]
}
